# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
.venv/

# Envs and local files
.env
instance/
*.db

# IDEs
.vscode/
.idea/

# Pytest cache
.pytest_cache/

# Coverage
htmlcov/
.coverage
.coverage.*
coverage.xml
*.cover

# Migrations (descomente se NÃO quiser versionar)
# migrations/

# Mac/Windows
.DS_Store
Thumbs.db