# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
.venv/

# Envs and local files
.env
instance/
*.db

# IDEs
.vscode/
.idea/

# Pytest cache
.pytest_cache/

# Migrations (opcional: mantenha migrations/ se for para repo)
# migrations/

# Mac/Windows
.DS_Store
Thumbs.db